<div class="wrapper">
  <div class="card" [class.hidden]="i !== count" *ngFor="let question of questionList; let i = index">
    <h3 class="header"> Question {{i+1}} of {{questionList.length}}</h3>
    <hr class="line">
    <h2 class="question">{{question.question}}</h2>
    <div 
      class="answer" 
      [class.correct]="answer.isCorrect && click == j" 
      [class.incorrect]="!answer.isCorrect && click == j" 
      mat-flat-button 
      *ngFor="let answer of question.answears; let j = index" 
      (click)="checkAnswer(answer, j)"
    >{{ answer.text }}</div>
    <button class="next" mat-stroked-button (click)="next()">Next</button>
    <div class="res-block">
      <div 
        class="results" 
        [class.correct]="resList[j] || (click != undefined && res && resList.length == j)" 
        [class.incorrect]="resList[j] == false || (click != undefined && !res && resList.length == j)"   
        *ngFor="let question of questionList; let j = index"
      > 
        <fa-icon [icon]="checkIcon" class="icon" *ngIf="resList[j] || (click != undefined && res && resList.length == j)"></fa-icon> 
        <fa-icon [icon]="xMarkIcon" class="icon"*ngIf="resList[j] == false || (click != undefined && !res && resList.length == j)"></fa-icon >
      </div>
    </div>
  </div>
</div>